<div class="header text-center">
    <div class="lead-outer">
        <div class="lead">
            <div class="lead-icon user-sky user-sky-3 user-sky-sun"></div>
            <img class="lead-icon" src="images/score/level_2_awake.png">
        </div>
    </div>
    <div>
        <h1><%= i18n.t('pages.home.title') %></h1>
    </div>
</div>
<div class="container">
    <div class="content">
        <ul class="list-unstyled">
            <li>
                <a class="btn btn-primary btn-lg btn-block" href="#profile">
                    <span><%= i18n.t('pages.home.btns.subscribe') %></span>
                </a>
            </li>
            <li>
                <a class="btn btn-primary btn-lg btn-block" href="#login">
                    <span><%= i18n.t('pages.home.btns.logged') %></span>
                </a>
            </li>
            <li>
                <a class="btn btn-soon btn-lg btn-block" href="#dashboard">
                    <span> <%= i18n.t('pages.home.btns.soon') %> </span>
                </a>
            </li>
        </ul>
        <div class="container-fluid logo">
            <div class="row"> 
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <img class="center-block img-responsive" src="images/logos/logotype-noe.png">
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <img class="center-block img-responsive" src="images/logos/cropped-bandeau-site-web.png">
                </div>
            </div>
        </div>
    </div>
</div>
