<div class="media-left thumb">
    <a href="#mission/<%= data.mission.srcId %>">
        <img class="media-object" src="./images/taxon/thumb/<%= data.mission.thumb %>" />
    </a>
</div>
<div class="media-body text">
	<a href="#mission/<%= data.mission.srcId %>">
	    <div class="media-heading title">
	    	<span class="badge-circle num"><%= data.mission.num %></span> 
	    	<span><%= data.mission.title %></span> 
	    </div>
	    <div class="meta">
	    	<span class="taxon"><%= data.mission.taxon.title %></span> 
	    	<span class="season text-primary">
	    		<span class="icon icomoon">time</span> 
	    		<span class="period"><%= data.mission.displaySeason %></span>
            	<span class="delta"><%= i18n.t('mission.deltaLong', {count: data.mission.inSeason.end.delta }) %></span>
	    	</span>
	    </div>
		<div class="options">
			<div class="badge-circle no-border bg-blue accept">
		    	<span class="icon icomoon">check</span>
		    </div>
		    <div class="badge-circle no-border bg-orange-light complete">
		    	<span class="icon icomoon">palms</span>
		    </div>
		    <div class="icon icomoon difficulty">difficulty_<%= data.mission.difficultyName %></div>
	    </div>
	</a>
</div>