.login {
    form {
        margin-bottom: 20px;
    }
    .register {
        display: none;
    }
    &.page {
        .register {
            display: block;
        }
    }
    button.btn-link {
        text-align: left;
    }
}