.login {
    form {
        margin-bottom: 20px;
        .user-info {
            margin: -19px;
            margin-bottom: 0;
            padding: 20px;
            .badge-circle {
                font-size: 20px;
                margin-right: 10px;
            }
        }
        &.has-user {
            .form-group.field-email {
                display: none;
            }
        }
    }
    .register {
        display: none;
    }
    &.page {
        .register {
            display: block;
        }
    }
    button.btn-link {
        text-align: left;
    }
}