.user-logged .profile {
    .btn-connection {
        display: none;
    }
}

.not-network.user-logged {
    .profile {
        .submit,
        .change-password {
            display: none;
        }
    }
}

.profile {
    ul.form-control {
        list-style-type: none;
    }
    button.btn-connection.btn-link.btn-block {
        text-align: right;
    }
}