.not-network.user-logged {
    .profile {
        .submit,
        .change-password {
            display: none;
        }
    }
}

.profile.view {
    .btn-logout {
        display: none;
        margin-top: 2rem;
    }
}

body.user-logged {
    .profile.page {
        .btn-logout {
            display: inline-block;
        }
    }
}