<form novalidate class="<%= data.user ? 'has-user' : '' %>">
    <div class="well">
        <% if ( data.user ) {%>
        <div class="user-row-info bg-white">
            <% var firstname = data.user.firstname %>
            <% var lastname = data.user.lastname %>
            <span class="badge-circle no-border bg-primary pull-left"><%= firstname.charAt(0)+lastname.charAt(0) %></span>
            <div class="pull-left">
                <%= firstname+' '+lastname %>
                <div class="text-gray-light"><%= data.user.email %></div>
            </div>
        </div>
        <% } %>
        <!-- <fieldset class="email" >
            <div class="form-group">
                <input name="login" type="text" class="form-control" placeholder="Entrez votre email" />
                <p class="help-block"></p>
            </div>
        </fieldset> -->
    </div>

    <!-- <div class="messages help-block">
        <span class="text-info message-sending">Connexion...</span>
        <span class="text-danger message-error">Login ou mot de passe incorrect</span>
    </div> -->
    <button type="submit" class="btn btn-primary btn-block btn-lg btn-submit pos-relative">
        Se connecter
        <% var spinnerTpl = require('../spinner/spinner.tpl.html'); %>
        <%= spinnerTpl({className:'spinner-white icon-right loader'}) %>
    </button>
</form>
<div>
    <a href="#registration" class="btn btn-profile btn-link">Créer un compte</a>
</div>