<form novalidate>
    <fieldset class="well user-infos" data-fields="firstname,lastname,email<% if(!data.user.externId) {%>,email2,password,password2<%}%>"></fieldset>
    <% if(data.user.externId) {%>
    <fieldset class="well change-password">
      <button type="button" class="request-npw-js btn-block btn-link" >Changer de mot de passe</button>
    </fieldset>
    <% } %>
    <fieldset class="well newsletter" data-fields="newsletter">
    </fieldset>

    <div class="footer">
      <button type="submit" class="btn btn-lg submit btn-primary btn-block pos-relative">
        <%= i18n.t('pages.profile.form.submit') %>
        <% var spinnerTpl = require('../spinner/spinner.tpl.html'); %>
        <%= spinnerTpl({className:'spinner-white icon-right loader'}) %>
      </button>
    </div>
    <div>
      <button class="btn btn-connection btn-link btn-block text-right">Se connecter</button>
    </div>
</form>