<div class="header hidden-by-keyboard text-center">
    <img src="./images/dashboard-header.png" />
</div>
<div class="container">
    <form id="signin">
        <div class="form-group required">
            <label for="lastname">Nom</label>
            <input id="lastname" name="lastname" type="text" class="form-control registerModel-js updateModel-js" value="<%= data.user.get('lastname') %>" placeholder="Votre nom">
        </div>
        <div class="form-group required">
            <label for="firstname">Prénom</label>
            <input id="firstname" name="firstname" type="text" class="form-control registerModel-js updateModel-js" value="<%= data.user.get('firstname') %>" placeholder="Votre prénom">
        </div>
        <fieldset>
            <div class="form-group required">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" class="form-control registerModel-js updateModel-js" value="<%= data.user.get('email') %>" placeholder="Un email valide">
            </div>
            <% if(!data.user.get('externId')) {%>
            <div class="form-group required">
                <label for="email2">Confirmer votre Email</label>
                <input id="email2" name="email2" type="text" class="form-control registerModel-js" value="<%= data.user.get('email') %>" placeholder="Confirmer votre email">
            </div>
            <% } %>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Entrer un mot de passe">
            </div>
            <% if(!data.user.get('externId')) {%>
            <div class="form-group">
                <label for="password2">Confirmer le mot de passe</label>
                <input type="password" name="password2" class="form-control" id="password" placeholder="Confirmer le mot de passe">
            </div>
            <% } %>
        </fieldset>
        <div class="form-group required">
            <legend for="newsletter">Newsletter</legend>
            <label>
                M'abonner à la newsletter
                <input id="newsletter" name="newsletter" type="checkbox" class="registerModel-js updateModel-js" <% if(data.user.get( 'newsletter')) { %>
                <%= 'checked' %>
                    <% } %> >
            </label>
        </div>
    </form>
    <div class="footer btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-lg cancel-js">Annuler</button>
        </div>
        <% if(!data.user.get('externId')) {%>
            <div class="btn-group form-actions" role="group">
                <input type="submit" class="btn btn-lg submit signin-js" name="Ajouter" value="S'inscrire">
            </div>
        <% }else{ %>
            <div class="btn-group form-actions" role="group">
                <input type="submit" class="btn btn-lg submit update-js" name="Ajouter" value="Modifier">
            </div>
        <% } %>
    </div>