<div class="container">
	<% if (displayState == 'localizing') { %>
		localizing
	<% } else if (displayState == 'localizationError') { %>
		localizationError
	<% } else if (displayState == 'autocomplete') { %>
		<input type="text" class="form-control js-autocomplete" placeholder="Saisir un département" />
		<div class="js-autocomplete-results"></div>
	<% } else if (displayState == 'localized') { %>
		<div>
			<ul class="nav nav-tabs js-nav-tabs" role="tablist">
			<% _.forEach(missionTabs, function(missionTab, index) { %>
				<li role="presentation" class=" <% if ( index == 0 ) { %>active<% } %>">
					<a href="#tab-difficulty-<%= index %>" role="tab">Difficulty <%= index %></a>
				</li>
			<% }); %>
			</ul>
			<div class="tab-content">
			<% _.forEach(missionTabs, function(missionTab, index) { %>
				<div role="tabpanel" class="tab-pane <% if ( index == 0 ) { %>active<% } %>" id="tab-difficulty-<%= index %>">
					<ul>
					<% _.forEach(missionTab.missions, function(mission) { %>
						<li><%= mission.title %></li>
					<% }); %>
					</ul>
				</div>
			<% }); %>
			</div>
		</div>
	<% } %>
</div>
