.page.dashboard {
	.header {
		padding: 30px;
		position: relative;
		.score-implode,
		.score-explode {
			.transition(opacity 0.1s linear);
		}
		.score-explode {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-top: 20px;
			font-size: 0.9em;
			text-align: left;
			opacity: 0;
			.description {
				color: #716052;
			}
		}
		&.show-score-explode {
			.score-implode {
				opacity: 0;
			}
			.score-explode {
				opacity: 1;
			}
		}
	}
	.page-nav-tabs {
		.box-shadow(0 0 6px rgba(0, 0, 0, 0.2));
	}
	.tab-content {
		padding-top: 20px;
		> .inner {
			&.missions {
				.list-outer {
					margin-bottom: 20px;
				}
			}
			&.observations {
				li {
					width: 33%;
					padding: 1px;
					position: relative;
					img {
						width: 100%;
					    height: auto;
					    background: no-repeat center;
					    background-size: cover;
					}
					.status {
						position: absolute;
						left: 1px;
						right: 1px;
						bottom: 1px;
						padding: 2px 4px 3px;
						background: rgba(0, 0, 0, 0.8);
						color: #FFF;
					}
				}
			}
		}
	}
}
