<div class="header text-center">
	<img src="./images/dashboard-header.png" />
</div>
<!-- Fake Nav tabs -->
<ul class="nav nav-tabs page-nav-tabs" role="tablist">
<% _.forEach(data.tabs, function(tab, tabName) { %>
	<li class="tab tab-<%= tabName %>">
		<a href="#dashboard/<%= tabName %>"><%= i18n.t('pages.dashboard.tabs.'+ tabName) %></a>
	</li>
<% }); %>
	<!-- <li class="tab-missions"><a href="#dashboard/missions">Missions</a></li>
    <li class="tab-activities"><a href="#dashboard/activities">Activités</a></li>
    <li class="tab-observations"><a href="#dashboard/observations">Photos</a></li> -->
</ul>
<!-- Fake Tab panes -->
<div class="container">
    <div class="tab-content"></div>
</div>
