<div class="col-side col-left pull-left">
	<% _.each(leftBtns, function(btn){ %>
	<button class="btn btn-lg btn-link btn_<%= btn.name %>">
		<span class="glyphicon glyphicon-<%= btn.icon %>"></span>
	</button>
	<% }); %>
</div>
<div class="col-center title" data-i18n="header.titles.<%= name %>"></div>
<div class="col-side col-right pull-right">
	<% _.each(rightBtns, function(btn){ %>
	<button class="btn btn-lg btn-link btn_<%= btn.name %>">
		<span class="glyphicon glyphicon-<%= btn.icon %>"></span>
	</button>
	<% }); %>
</div>
