<% if( data.observation.photos.length ) { %>
<div class="photo hidden-by-keyboard">
    <div class="img-outer">
        <img src="<%= data.observation.photos[0].url %>" />
    </div>
    <% if(data.observation.photos.length < 3){ %>
    <div class="add-photo">
        <form class="add-photo-browser" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" />
            <input type="submit" value="upload file"></input>
        </form>
        <button type="button" class="btn bg-blue btn-fab floating floating-top floating-right btn-add-photo capture-photo-js">
            <span class="icon icomoon">plus</span>
        </button>
    </div>
    <% } %>
</div>
<% } %>

<form class="form-horizontal infos">
    <fieldset class="well">
        <div class="form-group">
            <label class="col-xs-1 control-label">
                <span class="icon icomoon">taxon</span>
            </label>
            <div class="col-xs-11 form-control-outer">
                <% var displayValue = ''; %>
                <% var displayNum = ''; %>
                <select id="missions" name="missionId" class="form-control updateMission-js" placeholder="Mission / Espèce">
                <% data.missions.forEach(function(m, key){ %>
                    <% var isSelected = ( data.observation.missionId && data.observation.missionId == m.get('srcId') ) %>
                    <% var num = (m.get('num') < 10 ? '0':'') + m.get('num'); %>
                    <% if ( isSelected ) { %>
                        <% displayValue = m.get('title')+ '<br />' + m.get('taxon').title; %>
                        <% displayNum = num;  %>
                    <% } %>
                    <option value='<%= m.get('srcId') %>' <%= isSelected ? 'selected="selected"' : '' %>>
                        <%= num %>. <%= m.get('title') %> / <%= m.get('taxon').title %>
                    </option>
                <% }); %>
                </select>
                <span class="display-value"><%= displayNum %>. <%= displayValue %></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-1 control-label">
                <span class="icon icomoon">location</span>
            </label>
            <div class="col-xs-11 form-control-outer">
                <select id="departement" name="departement" class="form-control updateDept-js" placeholder="Département">
                <% data.departement.forEach(function(d, key){ %>
                    <% var isSelected = ( data.observation.departement && data.observation.departement == d.get('code') ) %>
                    <% if ( isSelected ) { displayValue = d.get('title'); } %>
                    <option value='<%= d.get('code') %>' <%= isSelected ? 'selected="selected"' : '' %>>
                        <%= d.get('title') %>
                    </option>
                <% }); %>
                </select>
                <span class="display-value"><%= displayValue %></span>
            </div>
        </div>
    </fieldset>
    <input name="date" type="hidden" value="<%= data.observation.date %>" />
    <div class="actions">
        <button type="submit" class="btn btn-save btn-lg btn-block btn-primary"><%= i18n.t('pages.observation.btns.save') %></button>
        <button type="submit" class="btn btn-send btn-lg btn-block btn-primary"><%= i18n.t('pages.observation.btns.send') %></button>
        <button type="button" class="btn btn-share btn-lg btn-block btn-primary"><%= i18n.t('pages.observation.btns.share') %></button>
    </div>
</form>