<% if( data.observation.photos.length ) { %>
<div class="photo hidden-by-keyboard">
    <div class="img-outer">
        <img src="<%= data.observation.photos[0].url %>" />
    </div>
    <% if(data.observation.photos.length < 3){ %>
    <div class="add-photo">
        <form class="add-photo-browser" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" />
            <input type="submit" value="upload file"></input>
        </form>
        <button type="button" class="btn bg-blue btn-fab floating floating-top floating-right btn-add-photo capture-photo-js">
            <span class="icon icomoon">plus</span>
        </button>
    </div>
    <% } %>
</div>
<% } %>

