<div class="inner pull-left">
  <img class="map" src="./images/missions_map.jpg" />
  <div class="environments">
  <% _.forEach(data.environments, function(environment, environmentName) {%>
    <% var isCluster = (environment.missions.length > 1); %>
    <div name="<%= environmentName %>" class="marker envname-<%= environmentName %> <%= isCluster ? 'is-cluster' : '' %>">
      <div class="badge-circle">
       <%= isCluster ? '' : environment.missions[0].num %>
       </div>
    </div>
  <%}) %>
  </div>
</div>