<div class="inner">
    <img class="poster img-responsive" src="./images/taxon/poster/<%= data.mission.poster %>" />
    <div class="header clearfix">
        <div class="title">
            <a href="javascript:window.history.back();" class="icon icomoon">arrow_left</a> <span class="text"><%= data.mission.title %></span>
        </div>
        <div class="accept floating floating-right">
            <button type="button" class="btn btn-accept btn-fab btn-default btn-lg">
                <span class="icon icomoon">check</span>
            </button>
            <span class="text"><%= i18n.t('pages.missionSheet.acceptBtnLabel') %></span>
        </div>
        <div class="complete floating floating-right btn btn-fab btn-lg bg-orange-light">
            <span class="icon icomoon">palms</span>
        </div>
    </div>
    <div class="meta">
        <span class="num badge-circle"><%= data.mission.num %></span>
        <span class="difficulty"><span class="icon icomoon">difficulty_<%= data.mission.difficultyName %></span> <%= i18n.t('mission.difficulty_'+ data.mission.difficulty) %></span>
        <span class="season text-primary">
            <span class="icon icomoon">time</span>
            <span class="period"><%= data.mission.displaySeason %></span>
            <span class="delta"><%= i18n.t('mission.deltaLong', {count: data.mission.inSeason.end.delta}) %></span>
        </span>
    </div>
    <div class="panel-group accordion" id="mission-sheet-accordion" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse1">
		        	<span class="icon icomoon">taxon</span> <span class="text"><%= data.mission.taxon.title %></span>
		        </a>
		      </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <%= data.mission.taxon.description %>
                    <div>
                    	<a href="<%= data.mission.taxon.url %>" class="btn btn-block btn-default">Fiche espèce</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-location">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse2">
						<span class="icon icomoon">location_time</span> <span class="text">Où le trouver ?</span>
					</a>
				</h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <img class="img-responsive" src="./images/taxon/map/<%= data.mission.map %>" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse3">
						<span class="icon icomoon">eye</span> <span class="text">Comment l'identifier ?</span>
					</a>
				</h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <%= data.mission.taxon.characteristic %>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse4">
						<span class="icon icomoon">camera</span> <span class="text">Mes observations</span>
					</a>
				</h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    Aucune observation
                </div>
            </div>
        </div>
    </div>
</div>