<div class="inner">
    <% var posterURL = './images/taxon/poster/'+data.mission.poster; %>
    <div class="poster" style="background-image:url('<%= posterURL %>');">
        <img src="<%= posterURL %>" />
    </div>
    <div class="status accept floating floating-right">
        <button type="button" class="btn btn-accept btn-fab btn-default btn-sm">
            <span class="icon icomoon">check</span>
        </button>
        <span class="text text-default"><%= i18n.t('pages.missionSheet.acceptBtnLabel') %></span>
        <span class="text text-is-accept"><%= i18n.t('pages.missionSheet.acceptedBtnLabel') %></span>
    </div>
    <div class="status complete floating floating-right">
        <div class="btn btn-fab btn-sm bg-orange-light">
            <span class="icon icomoon">palms</span>
        </div>
        <span class="text"><%= i18n.t('pages.missionSheet.completedBtnLabel') %></span>
    </div>
    <div class="meta">
        <span class="num badge-circle"><%= data.mission.num %></span>
        <span class="difficulty"><span class="icon icomoon">difficulty_<%= data.mission.difficultyName %></span> <span class="hidden-small-height"><%= i18n.t('mission.difficulty_'+ data.mission.difficulty) %></span></span>
        <span class="season text-primary">
            <span class="icon icomoon">time</span>
            <span class="period"><%= data.mission.displaySeasonShort %></span>
            <span class="delta"><%= i18n.t('mission.deltaLong', {count: data.mission.inSeason.end.delta+1}) %></span>
        </span>
    </div>
    <div class="panel-group accordion" id="mission-sheet-accordion" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse1">
		        	<span class="icon icomoon">taxon</span> <span class="text"><%= data.mission.taxon.title %></span>
		        </a>
		      </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <%= data.mission.taxon.description %>
                    <div>
                        <button type="button" class="btn btn-block btn-default btn-sheet">Fiche espèce</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-location">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse2">
						<span class="icon icomoon">location_time</span> <span class="text">
                        <%= i18n.t('mission.labelLocalize_interval',{ postProcess: 'interval', count: data.mission.plural }) %></span>
					</a>
				</h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <img class="img-responsive" src="./images/taxon/map/<%= data.mission.map %>" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse3">
						<span class="icon icomoon">eye</span> <span class="text"><%= i18n.t('mission.labelIdentification_interval',{ postProcess: 'interval', count: data.mission.plural }) %></span>
					</a>
				</h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <%= data.mission.taxon.characteristic %>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#mission-sheet-accordion" href="#collapse4">
						<span class="icon icomoon">camera</span> <span class="text">Mes observations</span>
					</a>
				</h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body observations">
                </div>
            </div>
        </div>
    </div>
</div>