<div class="container">
	<h3>List</h3>
	<ul class="nav nav-tabs js-nav-tabs" role="tablist">
	<% _.forEach(missionTabs, function(missionTab, index) { %>
		<li role="presentation" class=" <% if ( index == 0 ) { %>active<% } %>">
			<a href="#tab-difficulty-<%= index %>" role="tab">Difficulty <%= index %></a>
		</li>
	<% }); %>
	</ul>
	<div class="tab-content">
	<% _.forEach(missionTabs, function(missionTab, index) { %>
		<div role="tabpanel" class="tab-pane <% if ( index == 0 ) { %>active<% } %>" id="tab-difficulty-<%= index %>">
			<ul>
			<% _.forEach(missionTab.missions, function(mission) { %>
				<li><%= mission.title %></li>
			<% }); %>
			</ul>
		</div>
	<% }); %>
	</div>
</div>
